.rSlider {
    position: relative;
  }
  .rSlider .slide {
    background: red;
    height: 5px;
    width: 80px;
    position: absolute;
    left: 0;
    top: 9px;
    z-index: 2;
  }
  input[type=range] {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #ddd;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: red;
    cursor: pointer;
  }
  input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: red;
    cursor: pointer;
  }