.content {
    margin: 5rem;
    margin-top: 3rem
}

.header_banner {
    background: #ebebeb;
    padding: 14px 8%;
    /* margin: .5rem 1rem 0rem 1rem; */
}

.descrip {
    margin: .5rem 1rem 0rem .8rem;
    font-family: -webkit-pictograph;
    font-weight: 200;
}

.contentcard {
    padding: 1.7rem;
}

.contentin {
    margin: 3rem;
}

hr {
    width: 95%;
}

.category {
    margin: 1rem;
    text-decoration-line: underline;
    font-family: serif;
}

.title {
    font-weight: bold;
}