.wrap {
    width: 80%;
    height: auto;
    margin: 0px auto;
    padding-top: 100px;
}

.wrap__child {}

.wrap__text {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px 30px;
    margin: 15px;
}

.wrap__text h2 {
    margin: 10px 0px;
}

.wrap__text ul {
    display: block;
    margin: 5px 30px;
}

@media (max-width: 952px) {
    .wrap__text ul {
        display: block;
        list-style-type: disc;
    }
    .wrap {
        width: 95%;
        height: auto;
        margin: 0px auto;
        padding-top: 20px;
    }
}


/* .wrap {
    width: 80%;
    height: auto;
    margin: 0px auto;
    padding-top: 100px;
}


/* .content {
    width: 80%;
    height: 5rem;
}

.btn {
    width: 100%;
    height: 4rem;
    background-color: azure;
    color: black;
    font-style: oblique;
    margin-bottom: .8rem;
}

.wrap__text {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px 30px;
    margin: 15px;
}

.wrap__text h2 {
    margin: 10px 0px;
}

.wrap__text ul {
    display: block;
    margin: 5px 30px;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

@media (max-width: 952px) {
    .wrap__text ul {
        display: block;
        list-style-type: disc;
    }
    .wrap {
        width: 95%;
        height: auto;
        margin: 0px auto;
        padding-top: 20px;
    }
} */