@import url("https://fonts.googleapis.com/css?family=Poppins:400&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.header__btn {
    padding: 2px 10px;
    border: 2px solid #fff;
    transition: 0.4s ease-in;
}

.header__btn:hover {
    color: #48c290;
    background-color: #fff;
}

.wrap__section {
    width: 50%;
}

header {
    background-color: #48c290;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.header__section {
    margin: 0 auto;
    padding: 7% 20px;
    color: white;
    display: flex;
}

.section__text {
    width: 60%;
    padding: 130px 0px;
    float: left;
}

header h1 {
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.header__text {
    font-size: 22px;
    margin-bottom: 10px;
}

.btn__group {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.btn__group button {
    margin: 8px 0px;
    padding: 4px 14px;
    border: 2px solid transparent;
    background-color: white;
    width: 50%;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s ease;
}

.btn__group button:hover {
    border: 2px solid #fff;
    background-color: #48c290;
    color: white;
}

.btn__group button p {
    float: left;
    font-size: 22px;
}

.btn__group button i {
    float: right;
    font-size: 25px;
    margin-top: 0px;
    font-weight: bold;
}

.header__para {
    margin: 20px 0px;
    font-size: 20px;
}

.section__about {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.section__about .text {
    margin: 70px 30px;
}

.section__about .text p {
    font-size: 20px;
}

.about__one {
    display: flex;
    justify-content: space-between;
}

.section__about img {
    width: 100%;
    height: auto;
}

.wrapper {
    background: rgb(231, 230, 230);
    padding: 40px 0px;
    /* border-bottom: 8px solid #48c290 ; */
}

.section__subscribe {
    display: flex;
    width: 85%;
    height: auto;
    margin: 0 auto;
}

.subscribe__text {
    width: 50%;
}

.section__subscribe button {
    background-color: #48c290;
    border: none;
    color: white;
    font-size: 20px;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 0 100px;
    cursor: pointer;
    transition: 0.4s ease;
}

.section__subscribe button:hover {
    background-color: white;
    color: #48c290;
}

.footer_wrapper {
    background-color: #000;
    color: white;
    padding: 30px 0px;
}

.footer_container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer_container a {
    color: white;
    text-decoration: none;
}

.footer_container a:hover {
    color: #48c290;
    text-decoration: underline;
}

.footer_container hr {
    width: 30px;
    height: 6px;
    border: none;
    background: #48c290;
    margin-bottom: 10px;
}

.footer_child h2 {
    margin-bottom: 10px;
}

.footer_container .footer_child {
    width: 25%;
    padding: 0 20px;
}

.footer_child p,
.footer_child a {
    font-size: 13px;
}

.footer_child ul {
    list-style-type: none;
}

.footer_child a {
    margin-bottom: 10px;
    display: block;
    color: #48c290;
}

.contact_icons {
    display: flex;
    width: 80%;
    justify-content: flex-start;
}

.contact_icons .ico i {
    font-size: 30px;
    margin: 0 20px 0 0;
}

.footer_form form {
    display: flex;
}

.footer_form form input {
    padding: 4px 8px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #48c290;
    outline: none;
    color: white;
}

.footer_form form button {
    font-size: 20px;
    font-weight: 500;
    padding: 2px 8px;
    border: none;
    outline: none;
    background: #269969;
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
}


/* Dropdown */

.footer_child:nth-child(1) a {
    display: inline-block;
}


/* navbar */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

label.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    margin: 0 100px;
    padding: 0px 10px;
    border: 3px solid #fff;
    cursor: pointer;
}


/* body {
    background: rgb(72 194 144);
} */

nav {
    background: rgb(72 194 144);
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .cmpnylogo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav ul {
    float: right;
    margin-right: 4rem;
    list-style: none;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: rgb(72 194 144);
    margin: 0 .5rem;
}

nav ul li a {
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    color: #020202;
    border-radius: 5px;
    box-shadow: 0 0 5px #00ff5a, 0 0 10px #67e86b;
}

nav ul ul li a:hover {
    box-shadow: none;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid white;
    visibility: hidden;
    transition: top .3s;
}

nav ul ul ul {
    border-top: none;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 10rem;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgb(0 255 150);
    ;
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 6rem;
}

.showing,
.cmpnyname,
.checkbox {
    display: none;
}

.fa-plus {
    font-size: 15px;
    margin-left: 40px;
}


/* Slideshow container */

@media all and (max-width: 968px) {
    nav ul {
        margin-right: 0px;
        float: left;
    }
    nav .cmpnylogo {
        padding-left: 30px;
        width: 100%;
    }
    .showing+a,
    ul {
        display: none;
    }
    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;
    }
    nav ul li a:hover {
        box-shadow: none;
    }
    .showing {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .showing:hover {
        color: cyan;
    }
    .cmpnyname {
        display: block;
        color: white;
        position: absolute;
        top: 0;
        right: 40px;
        line-height: 70px;
        cursor: pointer;
        font-size: 25px;
    }
    nav ul ul {
        top: 70px;
        border-top: 0px;
        float: none;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul a {
        padding-left: 2rem;
    }
    nav ul ul ul a {
        padding-left: 80px;
    }
    nav ul ul ul li {
        position: static;
    }
    [id^=btn]:checked+ul {
        display: block;
    }
    nav ul ul li {
        border-bottom: 0px;
    }
    span.cancel:before {
        content: '\f00d';
    }
}


/* OUR servvice>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: 952px) {
    label.logo {
        font-size: 20px;
        margin-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    header h1 {
        font-size: 25px;
        padding: 0;
        margin: 0;
    }
    .header__text {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .btn__group button p {
        float: left;
        font-size: 16px;
    }
    .btn__group button i {
        float: right;
        font-size: 16px;
        margin-top: 0px;
        font-weight: bold;
    }
    .header__para {
        margin: 20px auto;
        width: 90%;
        font-size: 16px;
    }
    .btn__group button {
        width: 65%;
    }
    .about__one {
        flex-direction: column;
    }
    .about__one:nth-child(1),
    .about__one:nth-child(3),
    .about__one:nth-child(5) {
        flex-direction: column-reverse;
    }
    .about__one img {
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }
    .about__one .text {
        padding: 0;
        margin: 0;
    }
    .about__one .text h1 {
        font-size: 20px;
    }
    .about__one .text p {
        font-size: 16px;
    }
    .wrapper {
        margin: 20px 0 0 0;
    }
    .section__subscribe {
        display: flex;
        width: 50%;
    }
    .section__subscribe {
        display: flex;
        flex-direction: column;
        width: 85%;
    }
    .subscribe__text {
        width: 100%;
        margin: -5px 0px;
    }
    .section__subscribe button {
        margin: 15px 0px;
        border-radius: 0px !important;
    }
    .footer_container {
        width: 90%;
        flex-direction: column;
    }
    .footer_container .footer_child {
        width: 90%;
        padding: 10px 20px;
    }
    .footer_child a {
        margin-bottom: 10px;
    }
    .header__section .wrap__section:nth-child(1) {
        display: none;
    }
    .section__text {
        width: 95%;
        padding: 10px 0px;
        text-align: center;
    }
    header {
        background-color: #48c290;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
}

@media (min-width: 1500px) {
    .section__about {
        width: 60%;
        height: auto;
        margin: 0 auto;
    }
    .section__about img {
        width: 100%;
        height: auto;
    }
    .section__subscribe {
        display: flex;
        width: 60%;
    }
}

@media (max-width: 650px) {
    li ul {
        left: 30%;
    }
}

@media (max-width:480px) {
    li ul {
        left: 35%;
    }
}

@media (max-width:400px) {
    li ul {
        left: 40%;
    }
}


/*new*/