
@media (min-width: 1500px) {

    .register_child:nth-child(2){
        margin: 100px 0px;
    padding:50px 0px;

    }
    .register_container{
        width: 75%;
    margin: 100px auto;


    }
    .register_child img{
        width: 100%;
        margin: 60px 0px;
    
    }

    
}