h1 {
    border-radius: 20px;
    padding: 15px;
    margin: auto;
}

form {
    margin: 6px;
    font-family: "Times New Roman";
}

.outerShell {
    width: 1140px;
    margin: auto;
}

.loanBlock {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.aprBlock {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.tenureBlock {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

#buttonBlock {
    text-align: center;
    padding: 10px 20px 5px 20px;
}

button {
    /* position: relative;
   background-image: -webkit-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
    color: white;
    padding: 10px;
    border-radius: 30px; */
    position: relative;
    color: #fff!important;
    font-size: 18px;
    outline: none;
    border-radius: 25rem;
    background-image: -webkit-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
    padding: 0.5rem 1.2rem;
    cursor: pointer;
}

.sip-con {
    width: 90%;
    /* background-color: yellow; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-style: groove;
    background-color: aliceblue;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

.form-box001 {
    width: 50%;
    padding: 2rem;
}

.result {
    width: 48%;
    margin-left: 1rem;
    justify-content: center;
    background-color: white;
}

main {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    display: flex;
}

input {
    border-radius: 2rem;
    width: 50%;
}

output {
    border-style: groove;
    border-color: #a9a1a1;
    width: 2.3rem;
    margin: 1rem;
    font-weight: bold;
}

.output1 {
    display: flex;
}

.output2 {
    width: 50%;
    margin: auto;
}

.form-group {
    margin: 1.5rem;
}

.form-group h4 {
    font-weight: bold;
    width: max-content;
}

.output2 h5 {
    color: #09c8f9;
    font-size: xx-large;
    font-weight: bold;
}

.lump {
    width: 80%;
    margin: 10%;
    margin: 4rem;
}

.lumpoutput {
    width: 50%;
    margin-top: 27%;
    margin-left: 20%
}

@media (max-width: 800px) {
    .sip-con {
        width: 100%;
    }
}

@media (max-width:500px) {
    .sip-con {
        width: 100%;
    }
}