{% extends "base.html" %}
{% load static %}
{% block title %}  <title >Yokoso | Contact us</title>{% endblock %}
{% block css %}

<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block body %}


<div class="wrap">
<div class="register_container">
   <div class="register_child">
    <img src="{% static 'images/contact.png' %}" alt="" />

   </div>
   <div class="register_child">
       <h2>Contact us</h2>
       {% if msg %}
            <button style="text-align: left;border:none;" disabled>Sit back and relax ! Our agent will contact you soon...❤</button>
        {% endif %}
       <form method="POST" autocomplete="off">
            {% csrf_token %}
            <input type="text" placeholder="Name" name="first_name"  title="Enter only characters" pattern="[a-zA-Z]*" required />
            {% comment %} <input type="text" placeholder="Last Name" name="last_name" pattern="[A-Za-z]+" title="Enter only characters" required /> {% endcomment %}
            <input type="email" placeholder="Email Address" name="email" required/>
            <input type="tel" placeholder="Phone Number" name="phone" required  title="Enter only numbers" maxlength="10" pattern="\d{10}"/>
            
            {% comment %} <label for="id_category" class="optionss">Category</label> {% endcomment %}
            <select  name="category" id="id_category" required>
             <option  value="">Category</option>
            <option value="AutoLoan">ITR</option>
            <option  value="AutoLoan">GST Registration</option>
            <option  value="AutoLoan">Company Registration</option>
            <option  value="HomeLoan">Home Loan</option>
            <option  value="PersonalLoan">Property Loan</option>
            <option  value="AutoLoan">Auto Loan</option>
            
            <option  class="options" value="Others">Others</option>
            </select>
        
            <textarea  placeholder="Type your query" name="msg" resize="none"></textarea>
     
           
            <button type="submit">Submit Now</button>
            
        </form>
   </div>
</div>


</div>


{% include 'footer.html' %}
{% endblock %}