{% extends "base.html" %} {% load static %} {% block title %}
<title>Yokoso | EMI Pro</title>{% endblock %} {% block css %}

<link rel="stylesheet" href="{% static 'css/articles/article.css' %}" />
<link rel="stylesheet" href="{% static 'css/creditScore.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %} {% block body %}

<div class="header_banner">
  <h2>EMI Pro</h2>
  <p>Home / EMI Pro</p>
</div>

<div class="cal" style="margin: 50px 8%">
  <section>
    <div class="container">
      <form method="POST" onsubmit="return validate1();">
        {% csrf_token %}
        <div class="step step-1 active">
          <!-- ----------------------------------------------------------------------------------------- -->
          <div class="shade">
            <h2>Personal Details</h2>

            <div class="flex__wrap">
              <div class="form-group">
                <label for="fname">Full Name *</label>
                <input type="text" name="fname" id="fname" placeholder="Full Name" />
                <span color="red" id="fname_msg" class="small__msg"></span>
              </div>
              <div class="form-group">
                <label for="mname">PAN*</label>
                <input type="text" name="pan" id="pan" placeholder="PAN Number" />
                <span color="red" id="pan_msg" class="small__msg"></span>
              </div>
              <div class="form-group">
                <label for="batch">Employment Type*</label>
                <select name="emp" id="emp">
                  <option value="Self Employed">Self Employed</option>
                  <option value="Salaried">Salaried</option>
                </select>
                <span color="red" id="emp_msg" class="small__msg"></span>
              </div>
            </div>

            <div class="flex__wrap">
              <div class="form-group">
                <label for="StuID">Phone Number*</label>
                <input type="number" name="phone" id="phone" placeholder="Phone Number" />
                <span color="red" id="phone_msg" class="small__msg"></span>
              </div>
              <div class="form-group">
                <label for="StuID">Email Address*</label>
                <input type="email" name="email" id="email" placeholder="Email Address" />
                <span color="red" id="email_msg" class="small__msg"></span>
              </div>
              <div class="form-group">
                <label for="dob">Date Of Birth*</label>
                <input type="date" name="dob" id="dob" placeholder="Date Of Birth" onfocus="(this.type = 'date')"
                  value="yyyy-MM-dd" min="1980-01-01" max="2002-04-30" />
                <span color="red" id="dob_msg" class="small__msg"></span>
              </div>
            </div>

            <div class="flex__wrap">
              <div class="form-group">
                <label for="batch">Gender*</label>
                <select name="gender" id="gender">
                  <option value="">Select</option>
                  <option value="Male">Male</option>
                  <option value="'Woman'">Female</option>
                </select>
                <span color="red" id="gender_msg" class="small__msg"></span>
              </div>
              <div class="form-group"></div>

              <div class="form-group"></div>
            </div>
          </div>

          <button type="button" class="next-btn mar">Next</button>
        </div>

        <!-- First Form End  -->
        <div class="step step-2">
          <div class="shade">
            <h2>Salary and Loan Details</h2>

            <div class="flex__wrap">
              <div class="form-group">
                <label for="">Net Monthly Salary* </label>
                <input type="number" id="ms" name="ms" placeholder="Net Monthly Salary" min="0" />
                <span color="red" id="ms_msg" class="small__msg"></span>
              </div>
              <div class="form-group">
                <label for="StuID">If Any ongoing EMI</label>
                <input type="number" id="oe" name="oe" placeholder="Any ongoing  EMI" value="0" min="0" max = "99"/>
                <span color="red" id="oe_msg" class="small__msg"></span>
              </div>
              <div class="form-group">
                <label for="">Loan Type*</label>
                <select name="loanType" id="loanType">
                  <option value="">Select Loan Type</option>
                  <option value="Standard Home Loan">Standard Home Loan</option>
                  <option value="Home Loan">Home Loan</option>
                </select>
                <span color="red" id="loanType_msg" class="small__msg"></span>
              </div>
            </div>

            <div class="flex__wrap">
              <div class="form-group">
                <label for="">Loan Amount*</label>
                <input type="number" id="la" name="la" id="la" placeholder="Loan Amount" min="0"/>
                <span color="red" id="la_msg" class="small__msg"></span>

              </div>
              <div class="form-group">
                <label for="month">Tenure ( In Months )*</label>
                <input type="number" id="month" name="month" id="month" placeholder="Tenure ( In Months )" min="0" />
                <span color="red" id="month_msg" class="small__msg"></span>

              </div>
              <div class="form-group">
                <label for="">Any Preferred Bank</label>
                <select name="bankName" id="bank">
                  <option value="" >Select Bank</option>
                  <option value="All">All</option>
                  <option value="HDFC">HDFC</option>
                  <option value="IDBI">IDBI</option>
                </select>
                <span color="red" id="bank_msg" class="small__msg"></span>

              </div>
            </div>
            <div class="flex__wrap">
              <div class="form-group">
                <label for="StuID">Credit Score ( Optional )</label>
                <input type="number" id="creditScore" name="creditScore" placeholder="Credit Score" min="750" max="900"/>
              </div>
              <div class="form-group"></div>
              <div class="form-group"></div>
            </div>
          </div>

          <div>
            <button type="button" class="previous-btn">Prev</button>
            <button type="submit" class="submit-btn">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>

<script>
  const steps = Array.from(document.querySelectorAll("form .step"));
  const nextBtn = document.querySelectorAll("form .next-btn");
  const prevBtn = document.querySelectorAll("form .previous-btn");


  // validate




  nextBtn.forEach((button) => {
    button.addEventListener("click", () => {

      function validate() {

        // Check format Email
        var filter = /^([a-zA-Z_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        // var regx = /^[A-Za-z]+/;
        var regx_fname = /^([\w]{3,})+\s+([\w\s]{3,})+$/;

        var regx_pan = /^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/;
        // var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        // var filter = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
        // var filter = /^[a-zA-Z0-9]/;

        let isvalid = 0;
        // console.log('hi')
        if (true) {
          // Validate
          console.log(fname.value, pan.value, emp.value, phone.value, email.value, dob.value, gender.value);

          if (fname.value == '') {
            console.log(regx_fname.test(fname.value));
            // alert('please fill name');
            fname_msg.innerText = "*Please fill name"
            isvalid += 1;
            console.log(isvalid)
            // return false
          } else {
            if (!regx_fname.test(fname.value)) {
              fname_msg.innerText = "*Please fill valid name"
              isvalid += 1;
            } else {
              fname_msg.innerText = ""

            }
          }
      

          if (pan.value == '' || pan.value.length != 10) {

            console.log(regx_pan.test(pan.value));
            pan_msg.innerText = "*Please fill valid PAN"

            isvalid += 1;
            console.log(isvalid)

          } else {
            if (!regx_pan.test(pan.value)) {
            pan_msg.innerText = "*Please fill valid PAN"
            isvalid += 1;
          } else {
            pan_msg.innerText = ""
          }

         }

          if (emp.value == '') {
            emp_msg.innerText = "*Please fill Employment type"

            isvalid += 1;
            console.log(isvalid)

          } else {
            emp_msg.innerText = ""

          }

          if (phone.value == '' || phone.value.length != 10) {

            phone_msg.innerText = "*Please fill Phone Number"

            isvalid += 1;
            console.log(isvalid)

          } else {
            phone_msg.innerText = ""

          }
          if (email.value == '') {

            console.log(filter.test(email.value));
            email_msg.innerText = "*Please fill valid Email"

            isvalid += 1;
            console.log(isvalid)

          } else {
            if (filter.test(email.value)) {
              email_msg.innerText = "*Please fill valid Email"
              isvalid += 1;
            } else {
              email_msg.innerText = ""

            }

          }
          if (!dob.value) {
            dob_msg.innerText = "*Please fill DOB"

            isvalid += 1;
            console.log(isvalid)

          } else {
            dob_msg.innerText = ""

          }
          if (gender.value == "") {
            gender_msg.innerText = "*Please select gender"

            isvalid += 1;
            console.log(isvalid)

          } else {
            gender_msg.innerText = ""

          }

          if (isvalid == 0) {
            changeStep("next");

            data = {
              name : fname.value,
              pan : pan.value, 
              phone : phone.value,
              email : email.value, 
              dob  : dob.value,
              gender  : gender.value,
            }
            // Permit for Post Request
            sendPost(data);

          }

        }
      }
      validate();

    });
  });
  prevBtn.forEach((button) => {
    button.addEventListener("click", () => {
      changeStep("prev");
    });
  });


  function changeStep(btn) {
    let index = 0;
    const active = document.querySelector(".active");
    index = steps.indexOf(active);
    steps[index].classList.remove("active");
    if (btn === "next") {
      index++;
    } else if (btn === "prev") {
      index--;
    }
    steps[index].classList.add("active");
  }


  // Form Validation
  function validate1() {
    let isvalid = 0;
    if (true) {
      // Validate


      if (ms.value == '') {
        // alert('please fill name');
        ms_msg.innerText = "*Please fill Salary"
        isvalid += 1;
        console.log(isvalid)

      } else {
        ms_msg.innerText = ""

      }
      if (oe.value == '') {
        // alert('please fill name');
        oe_msg.innerText = "*Please fill monthly emi"
        isvalid += 1;
        console.log(isvalid)

      } else {
        oe_msg.innerText = ""

      }
      if (loanType.value == '') {
        // alert('please fill name');
        loanType_msg.innerText = "*Please fill Loan type"
        isvalid += 1;
        console.log(isvalid)

      } else {
        loanType_msg.innerText = ""

      }
      if (la.value == '') {
        // alert('please fill name');
        la_msg.innerText = "*Please fill Loan Amount"
        isvalid += 1;
        console.log(isvalid)

      } else {
        la_msg.innerText = ""

      }

      if (month.value == '') {
        // alert('please fill name');
        month_msg.innerText = "*Please fill tenure in months"
        isvalid += 1;
        console.log(isvalid)

      } else {
        month_msg.innerText = ""

      }
      if (bank.value == '') {
        // alert('please fill name');
        bank_msg.innerText = "*Please fill preferred bank"
        isvalid += 1;
        console.log(isvalid)

      } else {
        bank_msg.innerText = ""

      }
      if (isvalid == 0) {
        return true
      } else {
        return false
      }
    }
  }

  function sendPost(data){
    console.log('POST Data',data)
     // Constructing

     let u = window.location.href.split('/')
    u[3] = "emi-enquiry"
    u = u.join('/')


    // e.preventDefault()
    // Making the AJAX Request
    
    $.ajax({
      url: u,
      type: "POST",
      data:data,
      beforeSend: function (xhr) {

        xhr.setRequestHeader("X-CSRFToken", $('[name=csrfmiddlewaretoken]').val());
      },
      success: function (data) {
        console.log(data);
      },
      error: function (error) {
        console.log(error);
      }
    });
  }

 

</script>
{% include 'footer.html' %} {% endblock %}

<!-- EMI Calculator Widget END -->