{% extends "base.html" %} {% load static %} {% block title %}
<title>Yokoso | EMI Pro</title>{% endblock %} {% block css %}

<link rel="stylesheet" href="{% static 'css/articles/article.css' %}" />
<link rel="stylesheet" href="{% static 'css/creditScore.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %} {% block body %}

<div class="header_banner">
  <h2>EMI Pro</h2>

</div>

<div class="cal" style="margin: 50px 8%">
  <section>
    <div class="container">
      <form method="POST" onsubmit="return validate1();">
        {% csrf_token %}
        <div class="step step-1 active">
          <!-- ----------------------------------------------------------------------------------------- -->
          <div class="shade">
            <h2>Personal Details</h2>

            <div class="flex__wrap">
              <div class="form-group">
                <label for="fname">Full Name *</label>
                <input type="text" name="fname" id="fname" placeholder="Full Name" />
                <span color="red" id="fname_msg" class="small__msg"></span>
              </div>
              <div class="form-group">
                <label for="mname">PAN*</label>
                <input type="text" name="pan" id="pan" placeholder="PAN Number" />
                <span color="red" id="pan_msg" class="small__msg"></span>
              </div>
              <div class="form-group">
                <label for="batch">Employment Type*</label>
                <select name="emp" id="emp">
                  <option value="Self Employed">Self Employed</option>
                  <option value="Salaried">Salaried</option>
                </select>
                <span color="red" id="emp_msg" class="small__msg"></span>
              </div>
            </div>

            <div class="flex__wrap">
              <div class="form-group">
                <label for="StuID">Phone Number*</label>
                <input type="number" name="phone" id="phone" placeholder="Phone Number" />
                <span color="red" id="phone_msg" class="small__msg"></span>
              </div>
              <div class="form-group">
                <label for="StuID">Email Address*</label>
                <input type="email" name="email" id="email" placeholder="Email Address" />
                <span color="red" id="email_msg" class="small__msg"></span>
              </div>
              <div class="form-group">
                <label for="dob">Date Of Birth*</label>
                <input type="date" name="dob" id="dob" placeholder="Date Of Birth" onfocus="(this.type = 'date')"
                  value="yyyy-MM-dd" min="1980-01-01" max="2002-04-30" />
                <span color="red" id="dob_msg" class="small__msg"></span>
              </div>
            </div>

            <div class="flex__wrap">
              <div class="form-group">
                <label for="batch">Gender*</label>
                <select name="gender" id="gender">
                  <option value="">Select</option>
                  <option value="other">Male</option>
                  <option value="Woman">Female</option>
                </select>
                <span color="red" id="gender_msg" class="small__msg"></span>
              </div>
              <div class="form-group"></div>

              <div class="form-group"></div>
            </div>
          </div>

          <button type="button" class="next-btn mar" id="my"   >Next</button>
        </div>

        <!-- First Form End  -->
        <div class="step step-2">
          <div class="shade">
            <h2>Salary and Loan Details</h2>

            <div class="flex__wrap">
               <input type="number" id="id" class="id" ></input>
              <div class="form-group">
                <label for="">Net Monthly Salary* </label>
                <input type="number" id="ms" name="ms" placeholder="Net Monthly Salary" min="0" />
                <span color="red" id="ms_msg" class="small__msg"></span>
              </div>
              <div class="form-group">
                <label for="StuID">If Any ongoing EMI</label>
                <input type="number" id="oe" name="oe" placeholder="Any ongoing  EMI" value="0" min="0"/>
                <span color="red" id="oe_msg" class="small__msg"></span>
              </div>
              <div class="form-group">
                <label for="">Loan Type*</label>
                <select name="loanType" id="loanType">
                  <!-- <option value="">Select Loan Type</option> -->
                  <!-- <option value="Standard Home Loan">Personal Loan</option> -->
                  <option value="Home Loan">Home Loan</option>
                </select>
                <span color="red" id="loanType_msg" class="small__msg"></span>
              </div>
            </div>

            <div class="flex__wrap">
              <div class="form-group">
                <label for="">Loan Amount*</label>
                <input type="number" id="la" name="la" id="la" placeholder="Loan Amount" min="0"/>
                <span color="red" id="la_msg" class="small__msg"></span>

              </div>
              <div class="form-group">
                <label for="month">Tenure ( In Months )*</label>
                <input type="number" id="month" name="month" id="month" placeholder="Tenure ( In Months )" min="0" max="360" />
                <span color="red" id="month_msg" class="small__msg"></span>

              </div>
              <div class="form-group">
                <label for="">Any Preferred Bank</label>
                <select name="bankName" id="bank">
                  <option value="" >Select Bank</option>
                  <option value="All">All</option>
                  <option value="HDFC">HDFC</option>
                  <option value="IDBI">IDBI</option>
                  <option value="IDBI">Bank of India</option>
                  <option value="IDBI">LIC</option>
                  <option value="IDBI">PNB</option>
                  <option value="IDBI">SBI</option>
                </select>
                <span color="red" id="bank_msg" class="small__msg"></span>

              </div>
            </div>
            <div class="flex__wrap">
              <div class="form-group">
                <label for="StuID">Credit Score ( Optional )</label>
                <input type="number" id="creditScore" name="creditScore" placeholder="Credit Score" min="750" max="900"/>
              </div>
              <div class="form-group"></div>
              <div class="form-group"></div>
            </div>
          </div>

          <div>
            <button type="button" class="previous-btn">Prev</button>
            <button type="submit" class="submit-btn" id="sub">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/creditscore.js' %}"></script>
{% include 'footer.html' %} {% endblock %}
