
{% extends "base.html" %} {% load static %} {% block title %}
<title>Yokoso | IFSC Code</title>{% endblock %} {% block css %}

<!-- <link rel="stylesheet" href="{% static 'css/articles/article.css' %}" />
<link rel="stylesheet" href="{% static 'css/creditScore.css' %}" /> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css" />
<link rel="stylesheet" href="{% static 'css/ifsc-code.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %} {% block body %}


</head>

<body onload="resetSelection()">

   

    <!-- == here goes the header of the page == -->
    <div class="header_banner">
        <h2>Bank Services</h2>
        <p>Home / Bank Services</p>
    </div>



    <main>
        <div class="ifsc-code-container">


            <!-- form starts here -->
            <div class="form_container">

                <div class="bankingUtility ifsc-form-group">

                    <label for="bankServices" class="form_label">Services</label>

                    <select name="bankingService" id="bankSercive">

                        <option value="ifsc">IFSC Code</option>
                        <option value="grievance">Grievance</option>

                    </select>

                </div>

                <!--( action="#" method="post") included in the form tag-->

                 <form action="" id="ifscForm" data-cities-url= "{% url "ajax_load_cities" %}" data-branches-url= "{% url "ajax_load_branches" %}">
                    
                    <div class="ifsc-form-group">
                        <!-- selection -->
                        <div class="select-container">
                            {% comment %} <label for="bankname" class="form_label">Bank</label>
                            <select name="banknames" id="bank_name" class="banks"> {% endcomment %}
                            <label for="bankname" class="form_label">Banknames</label>
                            <select required name="bankname" id="bankname" class="banks" size="1" onchange="makeSubmenu(this.value)">
                            <option selected></option>
                            {% for cat in bank_names %}
                            <option value="{{ cat }}" >{{ cat }}</option>
                            {% endfor %}
                            </select>

                                <!-- 1st option edit krna h.....select bank options m nhi ayga -->

                               
                            {% comment %} </select> {% endcomment %}
                        </div>


                        <!-- here are the top famous banks asto ease the customers -->

                   
                    <div class="ifsc-form-group">
                        <label for="state" class="form_label">State</label>
                        <select  required name="state" id="state"
                        size="1" class="state-selection" >
                          <option selected></option>
                            {% for cat in state_names %}
                            <option value="{{ cat.id }}" >{{ cat }}</option>
                            {% endfor %}
                        </select>

                    </div>



                
                    <div class="ifsc-form-group">
                        <label for="cities" class="form_label">City</label>
                        <select required name="cities" id="cities"
                       size="1" class="city-selection">
                          <option selected></option>
                            {% comment %} {% for cat in city_names %}
                            <option value="{{ cat }}" >{{ cat }}</option>
                            {% endfor %} {% endcomment %}
                        </select>

                    </div>

                     <div class="ifsc-form-group">

                        <label for="branches" class="form_label">Branch</label>
                        <select name="branches" id="branches" size="1" class="branch-selection" required>
                            <option selected ></option>
                           
                        </select>

                    </div>
                       <button type="submit" name="filter" onsubmit="/Ifsc_Output" class="btn btn-primary">Search</button>
                </form>


                <!-- from 1 ends here -->

                <!-- Here the IFSC code will be submitted -->
                <form action=" " onsubmit="return validation()">

                    <div class="ifsc-form-group-2">

                        <div class="heading">
                            <h3>Or enter IFSC code to Get Bank Details</h3>
                        </div>
                        <label for="enter-ifsc-code" class="form_label">IFSC code</label>
                        <div class="input-ifsc-code" id="enter-ifsc-code">
                            <input type="text" name="ifsc_no_exact" maxlength="11" 
                                placeholder="Enter IFSC code" required>
                            <button type="submit" class="ifsc-submit-code">Get Details</button>
                        </div>
                        <span class="error error-selection">Error : This field is mandatory.</span>
                    </div>
                </form>
            </div>

            
<!-- here the template will be displayed after the submission of bank list or after the submission of ifsc code -->
            {% for ifscdetails in details %}
            <div class="ifsc-code-display">
             
                <!-- It is an example only -->
                
                <div class="display-code">
                
                    <div class="heading">
                        <h3>{{ifscdetails.bankname}}
                            <span>{{ifscdetails.ifsc_no}}</span>
                        </h3>
                    </div>
                    <div class="ifsc-contents">
                        <table>
                            <tr>
                                <td><span>IFSC Code :</span></td>
                                <td><span class="blue-txt">
                                        {{ ifscdetails.ifsc_no }}
                                    </span></td>
                            </tr>
                            <tr>
                                <td>MICR Code :</td>
                                <td>{{ifscdetails.MICR}}</td>
                            </tr>
                            <tr>
                                <td>Address :</td>
                                <td>{{ifscdetails.address}} </td>
                            </tr>
                            <tr>
                                <td>State :</td>
                                <td><span class="blue-txt">
                                        {{ifscdetails.state}}
                                    </span></td>
                            </tr>
                            <tr>
                                <td>City :</td>
                                <td><span class="blue-txt">{{ifscdetails.city}}</span></td>
                            </tr>
                            <tr>
                                <td>Branch :</td>
                                <td><span class="blue-txt">{{ifscdetails.branch}}</span></td>
                            </tr>
                            <tr>
                                <td>Contact :</td>
                                <td>{{ifscdetails.contact}}</td>
                            </tr>
                        </table>
                    </div>
                
                </div>
                
            </div>
           {% endfor %} 
        </div>
    </main>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
{% comment %} $("option").prop('required',true); {% endcomment %}
 

   $("#state").change(function () {
        const url = $("#ifscForm").attr("data-cities-url");  // get the url of the `load_cities` view
        const stateId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'state': stateId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#cities").html(data);  // replace the contents of the city input with the data that came from the server
               
            }
        });

    });

   $("#cities").change(function () {
        const url = $("#ifscForm").attr("data-branches-url");  // get the url of the `load_cities` view
        const cityId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'city':cityId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#branches").html(data);  // replace the contents of the city input with the data that came from the server
               
            }
        });

    });


</script>


</body>
{% endblock body %}

</html>