<div class="ifsc-code-display" id="ifsc-code-display">  
             {% for IfscData in ifsc_names %}
                <!-- It is an example only -->
              
                <div class="display-code">
                
                    <div class="heading">
                        <h3>{{IfscData.BANK}}
                            <span>{{IfscData.IFSC_CODE}}</span>
                        </h3>
                    </div>
                    <div class="ifsc-contents">
                        <table>
                            <tr>
                                <td><span>IFSC Code :</span></td>
                                <td><span class="blue-txt">
                                        {{ IfscData.IFSC_CODE }}
                                    </span></td>
                            </tr>
                            <tr>
                                <td>MICR Code :</td>
                                <td>{{IfscData.MICR}}</td>
                            </tr>
                            <tr>
                                <td>Address :</td>
                                <td>{{IfscData.address}} </td>
                            </tr>
                            <tr>
                                <td>State :</td>
                                <td><span class="blue-txt">
                                        {{IfscData.STATE}}
                                    </span></td>
                            </tr>
                            <tr>
                                <td>City :</td>
                                <td><span class="blue-txt">{{IfscData.CITY}}</span></td>
                            </tr>
                            <tr>
                                <td>Branch :</td>
                                <td><span class="blue-txt">{{IfscData.BRANCH}}</span></td>
                            </tr>
                            <tr>
                                <td>Contact :</td>
                                <td>{{IfscData.CONTACT}}</td>
                            </tr>
                        </table>
                    </div>
                
                </div>
            
            {% endfor %}
            </div>