{% extends "base.html" %} {% load static %} {% block title %}
<title>Yokoso | IFSC Code</title>{% endblock %} {% block css %}

<!-- EMI pro page -->
<link rel="stylesheet" href="{% static 'css/articles/article.css' %}" />
<link rel="stylesheet" href="{% static 'css/creditScore.css' %}" />
<link rel="stylesheet" href="{% static 'css/income.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css" />

{% endblock css %}

</head>
{% block body %}

<body>
    <!-- == here goes the header of the page == -->
    <div class="header_banner">
        <h2 align='center'>Income Tax Calculator</h2>
        <p align='center'>(AY : 2020-21)</p>
    </div>

    <div class="cal" style="margin: 50px 8%">
        <section>
            <div class="container" style=background-color:#E7E7AA;>
                <h2>Income Tax Calulated</h2>
                <div class="flex__wrap">
                    <div class="form-group">
                        <h4 for="">Gross Salary</h4>
                        <h3>Rs. {{gross_salary}}</h3>
                    </div>

                    <div class="form-group">
                        <h4 for="">HRA & LTA</h4>
                        <h3>Rs. {{hra_lta}}</h3>
                    </div>

                    <div class="form-group">
                        <h4 for="">Tax Deduction <span style="font-size: 6px;"> (under Section 80C)</span></h4>
                        <h3>Rs. {{tax_ded}}</h3>
                    </div>
                </div>
                <div class="flex_wrap">
                    <div class="form-group">
                        <h4 for="">Health Insurance Premium</h4>
                        <h3>Rs. {{hlt_ins_prm}}</h3>
                    </div>
                    <div class="form-group">
                        <h4 for="">NPS</h4>
                        <h3>Rs. {{nps}}</h3>
                    </div>
                    <!-- </div>
                <div class="flex_wrap"> -->
                    ==================================================================================================
                    <div class="form-group">
                        <h4 for="">Income Tax</h4>
                        <h3>Rs. {{inc_tax}}</h3>
                    </div>

                    <div class="form-group">
                        <h4 for="">Health Education Cess</h4>
                        <h3>Rs. {{hlt_edu_cess}}</h3>
                    </div>
                    ==================================================================================================
                </div>
                <div class="container">
                    <div class="form-group" style=background-color:#E0E0E0; align=center>
                        <h2 for="">Total Tax Liability</h2>
                        <h3>Rs. {{ t }}</h3>
                    </div>
                </div>

                <!-- <table style=margin-left:auto;margin-right:auto;>
                <table style="margin-left: auto;margin-right: auto;border: 1px solid black;">
                    <tr style="border: 1px solid black;">
                        <td style="border: 1px solid black;"> </td>
                        <th style="border: 1px solid black;">One</th>
                        <td style="border: 1px solid black;">three</td>
                        <td style="border: 1px solid black;"> </td>
                    </tr>
                    <td style="border: 1px solid black;">
                    </td>
                </table> -->
                <br><br>
                <table class="calc_box">
                    <tr>
                        <th>Nature</th>
                        <th>Amount</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td>Income from Salary</td>
                        <td></td>
                        <td>{{gross_salary}}</td>
                    </tr>
                    <tr>
                        <td>Deduction </td>
                        <td> - {{tax_ded}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Health Insurance Premium </td>
                        <td> - {{hlt_ins_prm}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>NPS</td>
                        <td> - {{nps}}</td>
                        <td></td>
                    </tr>
                    <!-- <tr>
                        <td>Test</td>
                        <td></td>
                        <td> {{nps | add:hlt_ins_prm | add:tax_ded}}</td>
                        <td> {{nps | add:hlt_ins_prm}}</td>
                    </tr> -->
                    <tr>
                        <td>Income Tax</td>
                        <td></td>
                        <td>{{inc_tax}}</td>
                    </tr>
                    <tr>
                        <td>Health Education Cess </td>
                        <td></td>
                        <td>{{hlt_edu_cess}}</td>
                    </tr>
                    <tr>
                        <th>Total Tax Liability</th>
                        <td> Final TAX</td>
                        <td style="font-style: oblique;font-size: 25px;">{{t}}</td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</body>
{% include 'footer.html' %} {% endblock body %}

</html>