{% extends "base.html" %} {% load static %} {% block title %}
<title>Yokoso | IFSC Code</title>{% endblock %} {% block css %}

<!-- EMI pro page -->
<link rel="stylesheet" href="{% static 'css/articles/article.css' %}" />
<link rel="stylesheet" href="{% static 'css/creditScore.css' %}" />
<link rel="stylesheet" href="{% static 'css/income.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css" />
<link rel="stylesheet" href="{% static 'css/income_tax.css' %}" />
{% endblock css %}

</head>
{% block body %}

<body>
    <!-- == here goes the header of the page == -->
    <div class="header_banner">
        <h2 align='center'>Income Tax Calculator</h2>
        <p align='center'>(AY : 2020-21)</p>
    </div>

    <div class="cal" style="margin: 50px 8%">
        <section>
            <div class="container" >
                <h2>Income Tax Calulated</h2>
                <table class="flex_income">
                    <tr class="flex_heading">
                        <th>Regime</th>
                        <th>Old</th>
                        <th>New</th>
                    </tr>
                    <tr>
                        <th>Total income</th>
                        <th>Rs. {{Total_income}}</th>
                        <th>Rs. {{Total_income}}</th>
                    </tr>
                    <tr>
                        <th>Professional_Tax</th>
                        <th>Rs. {{Professional_Tax}}</th>
                        <th>Rs. {{Professional_Tax}}</th>
                    </tr>
                    <tr>
                        <th>Total_Exemption</th>
                        <th>Rs. {{Total_exemption_old}}</th>
                        <th>Rs. {{total_exemption__new}}</th>
                    </tr>
                    <tr>
                        <th>Total_Deduction</th>
                        <th>Rs. {{total_deduction_old}}</th>
                        <th>Rs. {{total_deduction_new}}</th>
                    </tr>
                    <tr>
                        <th>Taxable_Income</th>
                        <th>Rs. {{Taxable_Income_old}}</th>
                        <th>Rs. {{Taxable_Income_new}}</th>
                    </tr>

 
                    <tr>
                        <th>Tax_Payable</th>
                        <th>Rs. {{Income_Tax_old}}</th>
                        <th>Rs. {{Income_Tax_new}}</th>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <th>{{age_value}}</th>
                        <th>{{age_value}}</th>
                    </tr>
                    <tr>
                        <th>Base Tax</th>
                        <th>Rs. {{inc_tax_old_base}}</th>
                        <th>Rs. {{inc_tax_new_base}}</th>
                    </tr>
                    <tr>
                        <th>Slab %</th>
                        <th>Rs. {{inc_tax_old_slab}}</th>
                        <th>Rs. {{inc_tax_new_slab}}</th>
                    </tr>
                    <tr>
                        <th>Slab Tax</th>
                        <th>Rs. {{inc_tax_old_slab_tax}}</th>
                        <th>Rs. {{inc_tax_new_slab_tax}}</th>
                    </tr>
                    <tr>
                        <th>Cess</th>
                        <th>Rs. {{cess_old}}</th>
                        <th>Rs. {{cess_new}}</th>
                    </tr>
                        
                    </table>
                    

                </div>

                <!-- <table style=margin-left:auto;margin-right:auto;>
                <table style="margin-left: auto;margin-right: auto;border: 1px solid black;">
                    <tr style="border: 1px solid black;">
                        <td style="border: 1px solid black;"> </td>
                        <th style="border: 1px solid black;">One</th>
                        <td style="border: 1px solid black;">three</td>
                        <td style="border: 1px solid black;"> </td>
                    </tr>
                    <td style="border: 1px solid black;">
                    </td>
                </table> -->
                <br><br>
                
            </div>
        </section>
    </div>
</body>
{% include 'footer.html' %} {% endblock body %}

</html>