
{% extends "base.html" %} {% load static %} {% block title %}
<title>Yokoso | IFSC Code</title>{% endblock %} {% block css %}


<!-- EMI pro page -->

<link rel="stylesheet" href="{% static 'css/articles/article.css' %}" />
<link rel="stylesheet" href="{% static 'css/creditScore.css' %}" />
<link rel="stylesheet" href="{% static 'css/income_tax.css' %}" />
<!-- <link rel="stylesheet" href="{% static 'css/income.css' %}"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
   
</style>

{% endblock css %}

</head>
{% block body %}

<div class="bodyincome">
    <!-- == here goes the header of the page == -->
    <div class="header_banner">
        <h2 align='center'>Income Tax Calculator</h2>
        <p align='center'>(AY : 2020-21)</p>

    </div>
    <!-- Test the block box multi step -->


    <div class="cal" style="margin: 50px 8%">
        <section>
            <div class="container">
               
                
                <form  class="form" method="POST">
                    {% csrf_token %}
                    <!-- Progress bar -->
                    <div class="progress" id="progress"></div>
                    <div class="progressbar">
                        <div class="progress-step progress-step-active" data-title="Intro"></div>
                        <div class="progress-step" data-title="Detail"></div>
                        <div class="progress-step" data-title="Cacultion"></div>
                    </div>

                    <!-- Steps -->
                <div class="income_tax_calc">    
                    <div class="form-step form-step-active first_page" id="first_page_id">
                        
                        <div class="input-group">
                            <label for="fname">Full Name</label>
                            <input type="text" name="fname" id="fname" required >
                        </div>
                        <div class="input-group">
                            <label for="age">Age</label>
                            <input type="number" name="age" id="age" required>
                        </div>
                        <div class="input-group">
                            <label for="city">City</label>
                            <input type="text" name="City" id="City" required>
                        </div>

                        <div class="input-group">
                            <label for="employmenttype">Employment Type</label>
                            <select id="emp">
                                <!--name="emp"-->
                                <option value="Self Employed">Self Employed</option>
                                <option value="Salaried">Salaried</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <label for="batch">Gender*</label>
                            <select name="gender" id="gender">
                                <option value="">Select</option>
                                <option value="male">Male</option>
                                <option value="Woman">Female</option>
                            </select>
                        </div>
                        <div class="">
                            <a href="#" class="btn btn-next width-50 ml-auto nxt-btn" id="first_next">Next</a>
                        </div>
                    </div>
                       <hr>
                    <div class="form-step second_page " id="second_page_id">
                        <div class="input-group">
                            <label for="Salary">Income From Salary</label>
                            <input type="text" name="Salary" id="Salary" required>
                        </div>

                        <div class="input-group">
                            <label for="basicpay">Basic Pay</label>
                            <input type="number" name="basicpay" id="basicpay" required>
                        </div>
                        <div class="input-group">
                            <label for="basicpay">HRA</label>
                            <input type="number" name="hra" id="hra" required>
                        </div>
                        <div class="input-group">
                            <label for="tax">Professional Tax</label>
                            <input type="text" name="tax" id="tax">
                        </div>
                        <div class="input-group">
                            <label for="capital">Capital Gain</label>
                            <input type="number" name="capital" id="capital">
                        </div>
                        <div class="input-group">
                            <label for="income">Income From Other Sources</label>
                            <input type="number" name="income" id="income">
                        </div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-prev nxt-btn">Prev</a>
                            <a href="#" class="btn btn-next nxt-btn">Next</a>
                        </div>
                    </div>
                    <div class="form-step third_page" id="third_page_id">
                        <div class="input-group">
                            <label for="gross_salary">House Rent Annual</label>
                            <input type="number" name="rent" id="rent" required>
                        </div>
                        <div class="input-group">
                            <label for="hra_lta">80C</label>
                            <input type="number" name="80c" id="80c">
                        </div>
                        <div class="input-group">
                            <label for="tax_ded">80CCD</label>
                            <input type="number" name="80ccd" id="80ccd">
                        </div>
                        <div class="input-group">
                            <label for="hlt_ins_prm">80D_SELF</label>
                            <input type="number" name="80d" id="80d">
                        </div>
                        <div class="input-group">
                            <label for="hlt_ins_prm">80D_Parent</label>
                            <input type="number" name="80d_parent" id="80d_parent">
                        </div>
                        <div class="input-group">
                            <label for="hlt_ins_prm">80D_Parent_Age </label>
                            <input type="number" name="80d_parent_age" id="80d_parent_age" required>
                        </div>
                        <div class="input-group">
                            <label for="inv">80E</label>
                            <input type="number" name="inv" id="inv">
                        </div>
                        <div class="input-group">
                            <label for="24">24</label>
                            <input type="number" name="24" id="24">
                        </div>
                        <div class="input-group">
                            <label for="80g">80G</label>
                            <input type="number" name="80g" id="80g">
                        </div>
                

                        <div class="btn-group">
                            <a href="#" class="btn btn-prev nxt-btn">Prev</a>
                            <!-- <input type="submit" value="Submit" class="btn">
                            <button type="submit" class="submit-btn">Submit</button> -->
                            <button type="button"  class="submit-btn" onclick="clickFunction()">Calculate</button>

                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>






 <div class="header_banner">
        <h2 align='center'>Income Tax Calculator</h2>
        <p align='center'>(AY : 2020-21)</p>
    </div>

    <div class="cal" style="margin: 50px 8%" id="outputdisplay">
        <section>
            <div class="container" >
                <h2>Income Tax Calulated</h2>
                <table class="flex_income">
                    <tr class="flex_heading">
                        <th>Regime</th>
                        <th>Old</th>
                        <th>New</th>
                    </tr>
                    <tr>
                        <th>Total income</th>
                        <th>Rs. {{Total_income}}</th>
                        <th>Rs. {{Total_income}}</th>
                    </tr>
                    <tr>
                        <th>Professional_Tax</th>
                        <th>Rs. {{Professional_Tax}}</th>
                        <th>Rs. {{Professional_Tax}}</th>
                    </tr>
                    <tr>
                        <th>Total_Exemption</th>
                        <th>Rs. {{Total_exemption_old}}</th>
                        <th>Rs. {{total_exemption__new}}</th>
                    </tr>
                    <tr>
                        <th>Total_Deduction</th>
                        <th>Rs. {{total_deduction_old}}</th>
                        <th>Rs. {{total_deduction_new}}</th>
                    </tr>
                    <tr>
                        <th>Taxable_Income</th>
                        <th>Rs. {{Taxable_Income_old}}</th>
                        <th>Rs. {{Taxable_Income_new}}</th>
                    </tr>

 
                    <tr>
                        <th>Tax_Payable</th>
                        <th>Rs. {{Income_Tax_old}}</th>
                        <th>Rs. {{Income_Tax_new}}</th>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <th>{{age_value}}</th>
                        <th>{{age_value}}</th>
                    </tr>
                    <tr>
                        <th>Base Tax</th>
                        <th>Rs. {{inc_tax_old_base}}</th>
                        <th>Rs. {{inc_tax_new_base}}</th>
                    </tr>
                    <tr>
                        <th>Slab %</th>
                        <th>Rs. {{inc_tax_old_slab}}</th>
                        <th>Rs. {{inc_tax_new_slab}}</th>
                    </tr>
                    <tr>
                        <th>Slab Tax</th>
                        <th>Rs. {{inc_tax_old_slab_tax}}</th>
                        <th>Rs. {{inc_tax_new_slab_tax}}</th>
                    </tr>
                    <tr>
                        <th>Cess</th>
                        <th>Rs. {{cess_old}}</th>
                        <th>Rs. {{cess_new}}</th>
                    </tr>
                        
                    </table>
                    

                </div>

          
                <br><br>
                
            </div>
        </section>
    </div>















    <script>
function clickFunction() {
        alert("iside");
        $.ajax({ // initialize an AJAX request
            url: 'income_cal/', // set the url of the request
            success: function(data) { // `data` is the return of the `load_cities` view function
                alert("iside1");
                $('#outputdisplay').html(jQuery(data).find('#outputdisplay').html());
            
            }

        });
    } 

        const prevBtns = document.querySelectorAll(".btn-prev")
        const nextBtns = document.querySelectorAll(".btn-next")
        const progress = document.getElementById("progress")
        const formSteps = document.querySelectorAll(".form-step")

        const progressSteps = document.querySelectorAll(".progress-step");

        let formStepNum = 0;
             if(formStepNum == 0){
                document.getElementById('first_page_id').style.width='100%';
                document.getElementById("second_page_id").style.display = "none";
                document.getElementById("third_page_id").style.display = "none";
                
               
                             
}
       nextBtns.forEach((btn) => {
           
            btn.addEventListener("click", () => {
                formStepNum++;
                updateFormSteps();
                updateProgressbar();
          
               if(formStepNum == 1){
                document.getElementById('first_page_id').style.width='30%';
                document.getElementById("second_page_id").style.display = "block";
                document.getElementById("first_next").style.display = "none";
                $('#first_page_id').fadeTo('slow',.6);
                $('#first_page_id').append('<div style="position: absolute;top:0;left:0;width: 100%;height:100%;z-index:2;opacity:0.4;filter: alpha(opacity = 50)"></div>');
               }
               if(formStepNum == 2){
                 document.getElementById('first_page_id').style.width='30%';
                document.getElementById("third_page_id").style.display = "block";
               
                $('#first_page_id').fadeTo('slow',.6);
                $('#first_page_id').append('<div style="position: absolute;top:0;left:0;width: 100%;height:100%;z-index:2;opacity:0.4;filter: alpha(opacity = 50)"></div>');
                $('.second_page').fadeTo('slow',.6);
                $('.second_page').append('<div style="position: absolute;top:0;left:0;width: 100%;height:100%;z-index:2;opacity:0.4;filter: alpha(opacity = 50)"></div>');
               }
            });
        });
        prevBtns.forEach((btn) => {
            btn.addEventListener("click", () => {
                formStepNum--;
                updateFormSteps();
                updateProgressbar();
             alert(formStepNum);
             if(formStepNum == 0){
                 document.getElementById("first_next").style.display = "block";
                 $('#first_page_id').fadeTo('slow',1);
                $('.second_page').fadeTo('slow',.6);
                $('.second_page').append('<div style="position: absolute;top:0;left:0;width: 100%;height:100%;z-index:2;opacity:0.4;filter: alpha(opacity = 50)"></div>');
               
               
                             
}
             if(formStepNum == 1){
                $('#second_page_id').fadeTo('slow',1);
                $('#first_page_id').fadeTo('slow',.6);
                $('#first_page_id').append('<div style="position: absolute;top:0;left:0;width: 100%;height:100%;z-index:2;opacity:0.4;filter: alpha(opacity = 50)"></div>');
                $('.third_page').fadeTo('slow',.6);
                $('.third_page').append('<div style="position: absolute;top:0;left:0;width: 100%;height:100%;z-index:2;opacity:0.4;filter: alpha(opacity = 50)"></div>');
}
             
            });
        });

        function updateFormSteps() {
            formSteps.forEach((formStep) => {

                // this line will hide after click Next the previous tab
                formStep.classList.contains("form-step-active") &&
                    formStep.classList.remove("form-step-active")
            })
            formSteps[formStepNum].classList.add("form-step-active");
       
        
        };

        function updateProgressbar() {
            progressSteps.forEach((progressStep, idx) => {
                if (idx < formStepNum + 1) {
                    progressStep.classList.add("progress-step-active");
                    
                } else {
                    progressStep.classList.remove("progress-step-active");
                }
            })
        }
 

    
    </script>


{% include 'footer.html' %} {% endblock body %}

</html>