{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
 <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
 
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">

{% endblock %}

{% block body %}
<div class="bodybg">
<div class="homeheader">
<div class="captions">
<h1>Welcome To YOKOSO</h1>
<p>You can contact us for any queries or any issue related to financial context.You can contact us for any queries or any issue related to financial context </p>
</div>
<div class="imageheader">
<img src="{% static 'images/bg.png' %}" alt="">
</div>
</div>
<div class="services">
<div class="servicecontent">
  <h1>Find, compare and buy financial products with ease.</h1>
  <p> By logging on to our website or app, you can instantly gain access to the best-matched products, irrespective of ticket-size, 
location & nature of loan query. Our loan specialists offer personalised loan assistance and help you navigate your credit requirement without any hassle. With 100+ partner lenders on board, we assure you the best loan offer as per your needs. </p>
</div>
<div class="servicecards">
 <div class="cardsleft">
<a href="{% url 'emi' %}">EMI Calculator</a>
  <i class="fa fa-arrow-right arrow" aria-hidden="true"></i>
</div>
 <div class="cardsleft">
<a href="{% url 'getServices' %}">IFSC Finder</a>
<i class="fa fa-arrow-right arrow" aria-hidden="true"></i>
</div>
<div class="cardsright">
<a href="{% url 'getServices' %}">Grievance</a>
<i class="fa fa-arrow-right arrow" aria-hidden="true"></i>
</div>

<div class="cardsright">
<a href="{% url 'credit' %}">EMI Pro</a>
<i class="fa fa-arrow-right arrow" aria-hidden="true"></i>
</div>
</div>
</div>



<div class="offersliders">
<div class="headlinesliders">
    <h1>The Services</h1>
     <h3>We provide</h3>
 
</div>

<div class="offerdetails">
  <div class="container">

     <section class="customer-logos slider">
     
        <div class="slide">
          <p>IFSC CODE Finder</p>
          
        </div>

        <div class="slide">
          <p>Grievance</p>
        </div>
        <div class="slide">
         <p>EMI Calculator</p>
        </div>
        <div class="slide">
          <p>EMI PRO</p>
        </div>
        <div class="slide">
          <p>HOME Loan</p>
        </div>
        <div class="slide">
          <p>Personal Loan</p>
        </div>
        <div class="slide">
          <p>Auto Loan</p>
        </div>
        
          <div class="slide">
          <p>ITR</p>
        </div>
             <div class="slide">
          <p>GST Registration</p>
        </div>
          <div class="slide">
          <p>Company Registration</p>
        </div>
     </section>
  </div>
</div>
</div>
<div class="wrapper">
  <div class="section__subscribe">
    <div class="subscribe__text">
      <h1>GET IN TOUCH</h1>
      <a href="mailto:contact@yokoso.in">You can also mail us your queries</a>
    </div>
    <div class="subecribe__btn">
      <a href="{% url 'contact' %}"></a>

      <button>
        <p> CONTACT US</p>
      </button>
      
    </div>
  </div>
</div>



  <!-- How We Work -->
  
  <!--  -->
 
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script> 
<script>
$(document).ready(function () {
  $(".customer-logos").slick({
    slidesToShow: 4,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 1500,
    arrows: false,
    dots: false,
    pauseOnHover: false,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 4
        }
      },
      {
        breakpoint: 520,
        settings: {
          slidesToShow: 3
        }
      }
    ]
  });
});

$(document).ready(function () {
  $(".blogs").slick({
    slidesToShow: 4,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 1500,
    arrows: false,
    dots: false,
    pauseOnHover: false,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 4
        }
      },
      {
        breakpoint: 520,
        settings: {
          slidesToShow: 3
        }
      }
    ]
  });
});











var container = document.getElementById('container')
var slider = document.getElementById('slider');
var slides = document.getElementsByClassName('slide').length;
var buttons = document.getElementsByClassName('btn');


var currentPosition = 0;
var currentMargin = 0;
var slidesPerPage = 0;
var slidesCount = slides - slidesPerPage;
var containerWidth = container.offsetWidth;
var prevKeyActive = false;
var nextKeyActive = true;

window.addEventListener("resize", checkWidth);

function checkWidth() {
    containerWidth = container.offsetWidth;
    setParams(containerWidth);
}

function setParams(w) {
    if (w < 551) {
        slidesPerPage = 1;
    } else {
        if (w < 901) {
            slidesPerPage = 2;
        } else {
            if (w < 1101) {
                slidesPerPage = 3;
            } else {
                slidesPerPage = 4;
            }
        }
    }
    slidesCount = slides - slidesPerPage;
    if (currentPosition > slidesCount) {
        currentPosition -= slidesPerPage;
    };
    currentMargin = -currentPosition * (100 / slidesPerPage);
    slider.style.marginLeft = currentMargin + '%';
    if (currentPosition > 0) {
        buttons[0].classList.remove('inactive');
    }
    if (currentPosition < slidesCount) {
        buttons[1].classList.remove('inactive');
    }
    if (currentPosition >= slidesCount) {
        buttons[1].classList.add('inactive');
    }
}

setParams();

function slideRight() {
    if (currentPosition != 0) {
        slider.style.marginLeft = currentMargin + (100 / slidesPerPage) + '%';
        currentMargin += (100 / slidesPerPage);
        currentPosition--;
    };
    if (currentPosition === 0) {
        buttons[0].classList.add('inactive');
    }
    if (currentPosition < slidesCount) {
        buttons[1].classList.remove('inactive');
    }
};

function slideLeft() {
    if (currentPosition != slidesCount) {
        slider.style.marginLeft = currentMargin - (100 / slidesPerPage) + '%';
        currentMargin -= (100 / slidesPerPage);
        currentPosition++;
    };
    if (currentPosition == slidesCount) {
        buttons[1].classList.add('inactive');
    }
    if (currentPosition > 0) {
        buttons[0].classList.remove('inactive');
    }
};
</script>
<script type="text/javascript" src="{% static 'js/index.js'%}"></script> 

  {% include 'footer.html' %}

{% endblock %}










