{% extends "base.html" %} {% load static %} {% block title %}
<title>Yokoso | Loan Comparison</title>{% endblock %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous">
</script>
{% block css %}

<link rel="stylesheet" href="{% static 'css/articles/article.css' %}" />
<link rel="stylesheet" href="{% static 'css/creditScore.css' %}" />
<link rel="stylesheet" href="{% static 'css/loan.css' %}" />
{% endblock  %} 
 {% block body %}
<div class="all">
<div class="input">
<table class="table">
  <tr>
<th style="display:none;">id</th>
    <th>Bank</th>
    <th>Interest Rates</th>
    <th>Lowest EMI per lakh</th>
<th>Compare</th>
  </tr>
    {% for i in  bankdetails %}
<tbody>
  <tr>

<td style="display:none;">{{i.cal_id}}</td>
<td class="bankname">{{i.bank}}</td>
<td  >{{i.interest_rate}}</td>
<td>{{i.loan_min}}</td> 
<td><input type="checkbox" class="checks"   onclick="loadingg()" value="{{i.cal_id}}">Compare</td>

</tbody>
{% endfor %}


</table>
</div>
<div class="printing" id="printing" style="display: none;">
<table class="table">
  <tr>
<th style="display:none;">id</th>
    <th>Bank</th>
    <th>Interest Rates</th>
    <th>Lowest EMI per lakh</th>
     <th>Cibil_Min</th>
    <th> CIBIL MAX</th>

  </tr>
    {% for i in ans3  %}
<tbody>
  <tr>

<td style="display:none;" >{{i.cal_id}}</td>
<td class="bankname">{{i.bank}}</td>
<td  >{{i.interest_rate}}</td>
<td>{{i.loan_min}}</td> 
 <td>{{i.cibil_min}}</td> 
 <td>{{i.cibil_max}}</td> 
</tbody>
{% endfor %}
   {% for i in ans4  %}
<tbody>
  <tr>

<td style="display:none;" >{{i.cal_id}}</td>
<td class="bankname">{{i.bank}}</td>
<td  >{{i.interest_rate}}</td>
<td>{{i.loan_min}}</td> 
<td>{{i.cibil_min}}</td> 
 <td>{{i.cibil_max}}</td> 
</tbody>
{% endfor %}


</table>
</div> 

</div>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<script>
function loadingg() {
  
  var abc = $('input[type="checkbox"]:checked').length; //LENGTH
  var valuelist = document.getElementById('valuelist');
  var text="<span>slected</span>";
  var listArray=[];
  var checkboxes = document.querySelectorAll('.checks');

  for(var checkbox of checkboxes){
      checkbox.addEventListener('click', function(){
        if(this.checked == true){
          if(abc == 1){
               
                listArray.push(this.value);
            
                var abc1= listArray;
                
                console.log(abc1);
                var abclength = listArray.length;
                console.log(abclength);
                      
                     if (abclength == 2){//start
                           alert(abclength);
                           $.ajax ({
                                     url: "output/",
                                     data:
                                     {
                                      'valu[]': abc1,
                                      'ans[]': listArray,
} ,
                     success: function(data){
                            $('#printing').html(jQuery(data).find('#printing').html());
                            $(".input").toggle();
                            $(".printing").toggle();
                            
                           

}
          
})//ajax end call
}//end
                }

          }
     })
}
}



</script>
{% include 'footer.html' %} {% endblock %}
