{% extends "base.html" %} {% load static %} {% block title %}
<title>Yokoso | Loan Comparison</title>{% endblock %} {% block css %}

<link rel="stylesheet" href="{% static 'css/articles/article.css' %}" />
<link rel="stylesheet" href="{% static 'css/creditScore.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous">
</script>

{% endblock %} {% block body %}

<div >
<table class="table">
  <tr>
<th>id</th>
    <th>Bank</th>
    <th>Interest Rates</th>
    <th>Lowest EMI per lakh</th>
<th>Compare</th>
  </tr>
    {% for i in  bankdetails %}
<tbody>
  <tr>

<td >{{i.cal_id}}</td>
<td class="bankname">{{i.bank}}</td>
<td  >{{i.interest_rate}}</td>
<td>{{i.loan_min}}</td> 
<td><input type="checkbox"  onclick="loadingg()">Compare</td>
{% comment %} <td value="{{i.cal_id}}" id="bankname">{{i.bank}}<input class="single-checkbox" type="checkbox" name="vehicle" value="Bike" onclick="myFunction()">Compare</td>
<td >{{i.interest_rate}}</td>
<td>{{i.loan_min}}</td>
</tr> {% endcomment %}
</tbody>
{% endfor %}


</table>
<button type="btn"  value="compare" class="compare">Compared</button>
      
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<script>
alert("inside");

function loadingg() {
  
     const arr=[];
     const arr1=[];
     var abc = $('input[type="checkbox"]:checked').length;
    
if(abc ==1){
     var selectedval = $(".table input:checked").parents("tr").text();
     var currow = $(this).closest('tr');
     var col1 = $(".table input:checked").parents("tr").find('td:eq(0)').text();
    
     arr.push(selectedval);
     
     
}
   
if(abc==2){
    const arr2=[];
    var selectedval = $(".table input:checked").parents("tr").text();
    arr1.push(selectedval);
  
    var col2 = $(".table input:checked").parents("tr").find('td:eq(0)').text();
    var currow = $(".table input:checked").closest('tr').find('td:eq(0)').text();
    alert(currow);
    console.log(currow);
} 
  
}

$(function(){
   $(document).on("click", ".compare", function(){
         alert("inside");
         var selectedval = $(".table input:checked").parents("tr").text();
         alert(selectedval);
         console.log(selectedval);
}) 
})
</script>
{% include 'footer.html' %} {% endblock %}
