{% extends "base.html" %} {% load static %} {% block title %}
<title>Yokoso | Loan Comparison</title>{% endblock %} {% block css %}

<link rel="stylesheet" href="{% static 'css/articles/article.css' %}" />
<link rel="stylesheet" href="{% static 'css/creditScore.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %} {% block body %}

<div >
<tr>
<td>
</td>
</tr>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/creditscore.js' %}"></script>
{% include 'footer.html' %} {% endblock %}
