{% extends "base.html" %} {% load static %} {% block title %}
<title>Yokoso | Loan Comparison</title>{% endblock %} {% block css %}

<link rel="stylesheet" href="{% static 'css/articles/article.css' %}" />
<link rel="stylesheet" href="{% static 'css/creditScore.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %} {% block body %}

<div >
<table>
  <tr>
    <th>Bank</th>
    <th>Interest Rates</th>
    <th>Lowest EMI per lakh</th>
  </tr>
    {% for i in  bankdetails %}
  <tr>

<td>{{i.bank}}<button></td>
<td>{{i.interest_rate}}</td>
<td>{{i.loan_min}}</td>

</tr>
{% endfor %}

</table>



</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/creditscore.js' %}"></script>
<script>

</script>
{% include 'footer.html' %} {% endblock %}
