{% extends "base.html" %}
{% load static %} {% block title %}
<title>Yokoso | IFSC Code</title>{% endblock %} {% block css %}


<!-- EMI pro page -->

<link rel="stylesheet" href="{% static 'css/articles/article.css' %}" />

<link rel="stylesheet" href="{% static 'css/ifsc-code.css' %}" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/sip.css' %}" />

<script type="text/javascript" src="{%static 'js/sip.js' %}"></script>
{% endblock css %}

</head>
{% block body %}

<body>
    <!-- <div> -->
    <main>
        <h1>SIP Calculator - Invest</h1>
        <div class="sip-con">
            <!-- <div class="ifsc-code-container"> -->
            <!-- <div class="form_container"> -->
            <div class="form-box001">
                <form method=" get" style="text-align: center; ">

                    {% csrf_token %}
                    

                    <div>
                        <label for="amount">Monthly Investment</label><br>
                        <input type="number" name="amount" id="amount">
                    </div><br>
                    <div>
                        <label for="rate"> Expected return rate.(per year) </label><br>
                        <input type="range" name="rate" id="rate" style="border-radius: 10px" min="0.1" max="20"
                            value="10" step="0.1" oninput="this.nextElementSibling.value=this.value">
                        <output>10</output>
                    </div><br>

                    <div>
                        <label for="time">Time period.(per Year)</label> <br>
                        <input name="time_period" id="time_period" type="range" value="1" min="1" max="20" step="1"
                            oninput="this.nextElementSibling.value=this.value">
                        <output>1</output>
                    </div>

                    <div>
                        <button type="button" class="submit" value="submit" onclick="sip()">Investment
                            Calculate</button>
                    </div>
                </form>
            </div>
            <!-- </div> -->
            <!-- <div class="ifsc-code-display" id="ifsc-code-display"> -->
            <div id="result" class="result">
                <div class="output1">
                    
                        <div class="form-group">
                        <h4 for="">Monthly Invested </h4>
                        <h5 id="mon">Rs.__ </h5>
                    </div>

                    <div class="form-group">
                        <h4 for="">Rate</h4>
                        <h5 id="rate1">___ % </h5>
                    </div>

                    <div class="form-group">
                        <h4 for="">Time Period</h4>
                        <h5 id="time1">__ Year</h5>
                    </div>
                </div>

                <div class="output2">
                    <div class="form-group">
                        <h4 for="">Total Invested Amount</h4>
                        <h5 id="invest1">Rs. 4500000</h5>
                    </div>
                    <div class="form-group">
                        <h4 for="">Maturity Amount</h4>
                        <h5 id="matty">Rs. 6000000</h5>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

{% include 'footer.html' %}
{% endblock body %}

</html>