<!DOCTYPE html>
<html lang="us" dir="ltr">
{% load static %}
<head>
  <meta charset="utf-8">
  <link rel="icon"  href="{% static 'images/favicon.ico'%}">

  <title>yokoso</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


  {% block title %}  <title >Yokoso Beta</title>{% endblock %}

  {% block css %}{% endblock %}




<body>


  <!-- Navigation Bar -->
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="bi bi-list"></i>
    </label>
    <label class="logo" ><a href="{% url 'home' %}" style="color: #fff!important;">Yokoso<span style="font-size:12px;">&#946;eta</span></a></label>
    <ul>
      <li><a class="" href="{% url 'home' %}">Home</a></li>
      <li><a class="" href="{% url 'articleHome' %}">Blog</a></li>
      <li><a href="">FAQs</a>
        <ul>
          
        <li><a href="/FAQs/home-loan">Home Loan</a></li>
        
        <li><a href="/FAQs/auto-loan">Auto Loan</a></li>
        
        <li><a href="/FAQs/personal-loan">Personal Loan</a></li>
        

        </ul>
      </li>
      <li><a class="" href="{% url 'emi' %}">EMI Calculator</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <!--<li><a href="{% url 'about' %}">Services</a></li>-->



    </ul>
  </nav>
  <!--  -->

  {% block body %} {% endblock %}
  <!-- Landing Page -->


<script async src="https://www.googletagmanager.com/gtag/js?id=G-05THG26XCE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-05THG26XCE');
</script>


</body>
</html>