<style>

.col-6{
max-width: 30%;
}
</style>

<footer class="container-fluid" id="gtco-footer">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-6" id="contact">
                    <h4> Contact Us </h4>
 <p>
        We belive in giving crucial transperent informations in most simplistic
        way , and we let you choose whats best for you.
      </p>
      <br />
      {% load static %}
      <p>
        Yokoso Team : <br />
        <a href="tel:+91 6206739406">+91 6206739406</a> |
        <a href="mailto:contact@yokoso.in">contact@yokoso.in</a>
      </p>
      <br />
       
        
    

</div>
<div class="col-lg-6">
                    <div class="row">
                        <div class="col-6">
                            <h4>Company</h4>
                            <ul class="nav flex-column company-nav">
                                <li class="nav-item"><a class="nav-link" href="{% url 'emi' %}">EMI Calculator</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'credit' %}">EMI Pro</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'getServices' %}">IFSC Finder</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'getServices' %}">Grievance</a></li>

                            </ul>
                             
                        </div>
                        <div class="col-6">
                            <h4>Services</h4>
                            <ul class="nav flex-column services-nav">
                                <li class="nav-item"><a class="nav-link" href="{% url 'articleHome' %}">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="/FAQs/home-loan">Home Loan</a></li>
                                <li class="nav-item"><a class="nav-link" href="/FAQs/property-loan">Property Loan</a></li>
                                <li class="nav-item"><a class="nav-link" href="/FAQs/personal-loan">Personal Loan</a></li>
                                <li class="nav-item"><a class="nav-link" href="/FAQs/auto-loan">Auto Loan</a></li>


                            </ul>
                        </div>

                       <div class="col-6">
                               <h4  style="margin-top: 0px";>Follow Us</h4>
                            <ul class="nav follow-us-nav">
                                <li class="nav-item"><a class="nav-link pl-0" href="https://www.facebook.com/yokoso.in" target="_blank"><i class="fa fa-facebook"
                                                                                      aria-hidden="true"></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="https://twitter.com/YokosoFinance" target="_blank"><i class="fa fa-twitter"
                                                                                 aria-hidden="true"></i></a></li>
                                <li class="nav-item"><a class="nav-link" href=><i class="fa fa-google"
                                                                                 aria-hidden="true"></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/company/welcome2yokoso/" target="_blank"><i class="fa fa-linkedin"
                                                                                 aria-hidden="true"></i></a></li>
                            </ul>
                            <img src="{% static 'images\startup.png'%}" alt="startup India"  style="width: 15rem; margin-left: -1rem; margin-top: 1rem;">
</div>
                    </div>
                </div>
                
            </div>
        </div>
    </footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

</script>