<div class="footer_wrapper">
  <div class="footer_container">
    <div class="footer_child">
      <h2>Yokoso</h2>
      <p>
        We belive in giving crucial transperent informations in most simplistic
        way , and we let you choose whats best for you.
      </p>
      <br />
      {% load static %}
      <p>
        Yokoso Team : <br />
        <a href="tel:+91 6206739406">+91 6206739406</a> |
        <a href="mailto:contact@yokoso.in">contact@yokoso.in</a>
      </p>
      <br />

      <!-- <p>
            Admin : <br />
            <a href="tel:+91 8882578401 " >+91 8882578401 </a> | <a href="mailto:contact@yokoso.in">contact@yokoso.in</a>
          </p> -->
    </div>
    <div class="footer_child jio">
      <hr />
      <h2>Our Services</h2>
    <a href="/FAQs/home-loan">Home Loan</a>
        
    <a href="/FAQs/auto-loan">Auto Loan</a>
      
    <a href="/FAQs/personal-loan">Personal Loan</a>

    <a href="/FAQs/property-loan">Property Loan</a>
      
      <a href="{% url 'emi' %}">EMI Calculator</a>
    </div>
    <div class="footer_child jio">
      <hr />
      <h2>Know More</h2>

      <a href="{% url 'contact' %}">Contact us</a>
      <!-- <a href="/FAQs/personal-loan">FAQs</a> -->
    </div>
    <div class="footer_child">
      <hr />
      <h2>Connect with us</h2>

      <div class="contact_icons">
        <div class="ico">
          <a href="https://www.facebook.com/yokoso.in" target="_blank"
            ><i class="bi bi-facebook"></i
          ></a>
        </div>
        <div class="ico">
          <a href="https://www.linkedin.com/company/welcome2yokoso/" target="_blank"
            ><i class="bi bi-linkedin"></i
          ></a>
        </div>

        <!--<div class="ico"><a href=""><i class="bi bi-twitter"></i></a></div>-->
        <!--<div class="ico"><a href=""><i class="bi bi-instagram"></i></a></div>-->
      </div>
      <br />

      <hr />
      <!--<h2>Subscribe Now</h2>-->

      <div class="">
        <img src="{% static 'images/startup.png' %}" alt="Startup" style="width:260px;height:auto;" />
      </div>
    </div>
  </div>
</div>
